/**  About Section  **/
.home-section{
    min-height: 100vh;
    border: 1px solid pink;
    width: 100%;
    padding-top: 3.25rem;

    &.hero{
        height: 43vh;
        background-image: url('../../assets/images/curvy-bg3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left; 

        h1 {
            max-width: 550px;
        }

        p{
            max-width: 480px;
        }
    }
}


/**  Projects Section  **/
.featured-projects {
    text-align: center;
    h2 {
        margin: 25px;
    }
}

.project-wrap{
    width: 100vw;
    background: #F4F4F4;
    left: 0;
}

.project-panels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 2% 10%;
    max-width: 1344px;
    margin: 0 auto 25px auto;
    .panel{
        background: transparent;
        height: 100%;
        min-width: 90%;
        flex: 0 1 280px;
        flex-direction: column;
        text-align: left;
        text-align: center;
        margin: 25px 0 25px 0;
        p{
            margin: 0;
            text-align: left;
        }
    }
}

.panel-content{
    p{
        padding-top: 10px;
    }
}

.sectionimg{
    position: relative;

    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #2193B0;
        background-color: #fff;
        border-style: solid;
        border-width:1px;
        border-radius: 3em;
        font-size: 1em;
        width: 10em;
        text-align: center;
        display: none;
        padding: 10px 20px 10px 20px; 
        z-index: 8;
        opacity: 0;
    }
    
    &:hover{
        .centered{
            display: block;
            opacity: 1;
        }

        img {
            filter: blur(2px);
        }
    }
}


/** Services Section **/
.services{
    text-align: center;

    h2, .service-description{
        margin-bottom: 25px;
    }

}
.features{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #354762;
    border-radius: 10px;
    margin-bottom: 25px;
    section{
        position: relative;
        text-align: left;
        width: 100%;
        padding: 2.5em;
        border-top: solid 1px #354762;

        &:first-of-type{
            border-top-width: 0;
        }

        h4{
            margin-bottom: 20px;
            // margin: 0 0 10px 30%;
             position: relative;
            // bottom: 10px;
            left: 2.75em;
            display: inline-block;
            width: 78%;
        }
    }
} 



.icon{
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    position: absolute;
    top: 2em;
}

.icon-code::before{
    content: url('../../assets/images/icon-code.svg');
}
.icon-screen::before{
    content: url('../../assets/images/icon-screen.svg');
}
.icon-link::before{
    content: url('../../assets/images/icon-link.svg');
}
.icon-settings::before{
    content: url('../../assets/images/icon-settings.svg');
}


/** Process Section **/
.process {
    .content-container{
        display: flex;
        justify-content: space-between;
    }

    .process-text {
        width: 45%;
    }

    .process-image{
        width: 45%;
    }
}


/** Pricing Section **/
.pricing{
    text-align: center;
    h2{
        margin-bottom: 25px;
    }
}

.pricing-container{
    border: 2px solid green;
    display: flex;
    align-items: center;

    .pricing-box{
        border: 2px solid #6DD5ED;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        a{
            display: inline;
        }
    }

    .box-big{
        width: 36%;
        height: 400px;
    }
    .box-small{
        width: 32%;
        height: 300px;
    }
}


/*******************
    Media Queries
********************/

@media screen and (min-width: 739px){
    .project-panels{
        .panel{
            min-width: 45%;
            &:first-of-type{
                margin-right: 5%;
            }
        }
    }
}

@media screen and (min-width: 972px){
    .features{
        section{
            width: 50%;
            padding: 2.5em 2.5em 2.5em 7em;

            &:nth-child(-n + 2) {
                border-top-width: 0;
            }

            &:nth-child(2n) {
                border-left: solid 1px #354762;
            }

            h4{
                margin-bottom: 10px;
                left: 0;
            }
        }
    }

    .icon{
        width: 2.5em;
        height: 2.5em;
        display: inline-block;
        position: absolute;
        left: 2.25em;
        top: 2em;
    }
}

@media screen and (min-width: 1169px){
    .project-panels{
        .panel{
            min-width: 30%;
            margin-right: 5%;

            &:last-of-type{
                margin-right: 0;
            }

        }
    }
}
/** Projects Section **/

