/**  About Section  **/
.home-section{
    min-height: 100vh;
    border: 1px solid pink;
    width: 100%;
    padding-top: 3.25rem;

    &.hero{
        height: 43vh;
        background-image: url('../../assets/images/curvy-bg3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left; 

        h1 {
            max-width: 550px;
        }

        p{
            max-width: 480px;
        }
    }
}


/**  Projects Section  **/
.featured-projects {
    text-align: center;
}

.project-wrap{
    width: 100vw;
    position: absolute;
    background: #F4F4F4;
    left: 0;
}

.project-panels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    padding: 2% 10%;
    max-width: 1344px;
    margin: 0 auto;
    //padding: 0 10%;

    .panel{
        background: transparent;
        margin: 10px;
        height: 100%;
        min-width: 30%;
        flex: 0 1 280px;
        flex-direction: column;
        text-align: left;
        //visibility: hidden;

        p{
            margin: 0;
            a{
                box-shadow: inset 0 -15px 0px -8px #79F7FF;
                transition: 500ms;

                &:hover{
                    background: #79F7FF;
                }
            }


        }
    }
}