.flip-card {
    background-color: transparent;
    height: 7vh;
    perspective: 1000px;
    padding: 0 20%;
  }
  
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;

    &:hover{
        backface-visibility: hidden;
    }
  }
  
  .flip-card-back {
    p{
        margin: 0;
        font-size: 1.1rem;
    } 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transform: rotateY(180deg);
  }

  @media screen and (min-width: 739px){
    .flip-card{
      padding: 0 30%;
    }
  }