header {
    position: fixed;
    width: 100%;
    background: #ffffff;
}

nav {
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 4rem;

    ul{
        display: flex;
    }
}

.nav-links{
    li {
        padding-right: 2.5em;

        &:last-of-type{
            padding: 0;
        }

        &:hover{
            opacity: 0.8;
        }
    }
}

.active {
    border-bottom: 2px solid #6DD5ED;

    &.hideActive{
        border-bottom: none;
    }
}