nav {
    outline: 1px solid orange;
    height: 3.25rem;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0 3rem;

    ul{
        display: flex;
        outline: 1px solid blue;
    }
}

.nav-links{
    li {
        padding-right: 2em;

        &:last-of-type{
            padding: 0;
        }
    }
}