.footer {
    height: auto;
    min-height: 90vh;
    background-image: url('../../assets/images/footer-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -360px; 
    padding: 5% 8% 55px 8%;
    color: #fff;

    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1344px;
        margin: 0 auto;
    }
}

.footer-main{
    width: 100%;
    h2 {
        margin-bottom: 20px;
        color: inherit;
    }

    .footer-form{
        margin-top: 25px;
    }
}

.input-wrap{
    width: 100%;
    justify-content: flex;
    margin-bottom: 25px;

    label{
        display: inline-flex;
        flex-direction: column;
        width: 100%;

        &:first-of-type{
            margin-bottom: 25px;
        }
    
    }

    input {
        height: 35px;
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 5px;

        &:focus{
            outline: 0;
            box-shadow: 0 0 6px 3px #1A678E;
        }
    }
}

.form-label-text{
    margin-bottom: 8px;
    color: inherit;
}

.textarea-wrap{
    display: flex;
    flex-direction: column;

    textarea {
        height: 200px;
        max-height: 250px;
        min-height: 200px;
        width: 100%;
        max-width:100%;
        min-width: 250px;
        border-radius: 8px;
        border: none;
        padding: 5px;

        &:focus{
            outline: 0;
            box-shadow: 0 0 6px 3px #1A678E;
        }
    }
}

.footer-aside{
    width: 100%;
    border-top: 2px solid #1A678E;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;

    .aside-icon-wrap{
        display: grid;
        grid-template-columns: 50px auto;
        min-width: 178px;
    }

    svg{
        grid-column: 1 / 2;
        width: 20px;
        justify-self: start;
    }

    .info-wrap{
        grid-column: 2 / 3;
    }

    p, a {
        font-size: 0.85rem;
        color: #0A6A9A;
    }
}

.contact-info-wrap{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    min-width: 200px;
    margin: 55px auto 25px auto;

    svg {
        width: 35px;
        //margin-right: 0px;
    }

}

.legal-info{
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
  p {
      margin-bottom: 5px;
      a{
          margin-right: 5px;

          &:last-of-type{
            margin-left: 5px;
          }
      }
  }
}

.pricing-text{
    color: white;
    margin-left: 25px;
}

@media screen and (min-width: 609px){
    .footer {
        padding: 7% 10% 70px 10%;
    }

    .input-wrap{
        flex-direction: row;
        label{
            width: 45%;

            &:first-of-type{
                margin-right: 10%;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 972px){
    .footer {
        padding: 3% 10% 70px 10%;
        background-position-x: center; 

        .footer-content{
            flex-direction: row;
        }
    }

    .footer-main{
        width: 60%;
        min-width: 500px;
    }

    .footer-aside{
        width: 30%;
        border-top: none;
        border-left: 2px solid #1A678E;
        padding: 0 5% 0 5%;
        margin-top: 125px;


        .aside-icon-wrap{
            grid-template-columns: repeat(12, 1fr);
            align-items: flex-start;
        }

        svg {
            grid-column: 1 / 3;
            align-self: start;
            justify-self: center;
        }

        .info-wrap{
            grid-column: 4 / 12;
        }
    }

    .contact-info-wrap{
        height: 175px;
    }

    .legal-info{
        margin-left: 2%;
        text-align: left;
    }

    .social-icons{
        justify-content: flex-start;
        margin-left: 2%;
        svg{
            margin-right: 25px;
        }
    }
}

